.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup {
  display: flex;
  justify-content: center;
}

.signup-section {
  text-align: center;
}

.login-section {
  margin-top: 50ox;
}

.index-header {
  background-color: #c0c0c0;
}

.index-title {
  text-align: center;
}

.add-btn {
  position: absolute;
  z-index: 1px;
  top: -30;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.index-body {
  padding-bottom: 100px;
}

.index-box {
  margin-top: 20px;
}

.index-card {
  width: 70%;
  height: auto;
  margin: 5px;
}

.table-box {
  display: flex;
  justify-content: center;
}

.table-footer {
  width: 50%;
}

.detail-card-box {
  display: flex;
  justify-content: center;
}

.detail-card {
  margin-top: 50px;
  width: 500px;
  height: auto;
}

.detail-section {
  margin-top: 15px;
}

.review-section {
  margin-top: 10px;
}

.detail-edit-btn {
  float: right;
}

.delete-btn {
  float: right;
}
