.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  justify-content: center;
}

.home-box {
  height: 300px;
  width: 250px;
  padding: 0.5em 1em;
  margin: 100px 0;
  border: solid 2px #000000;
}

.signin-box {
  text-align: center;
}

.home-index-box {
  margin: 25px 0px;
}

.home-index-btn {
  width: 200px;
}

.home-new-box {
  margin: 25px 0px;
}

.home-new-btn {
  width: 200px;
}

.signout-box {
  text-align: center;
}

.home-signup-box {
  margin: 25px 0px;
}

.home-signup-btn {
  width: 200px;
}

.home-login-box {
  margin: 25px 0px;
}

.home-login-btn {
  width: 200px;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup-box {
  height: auto;
  width: 250px;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 2px #000000;
}

.signup-section {
  text-align: center;
}

.signup-name {
  margin: 5px;
}

.signup-email {
  margin: 5px;
}

.signup-password {
  margin: 5px;
}

.signup-btn-section {
  margin-top: 5px;
}

.signup-btn {
  width: 80%;
}

.singup-login {
  font-size: 15px;
  padding-top: 20px;
}

.login-section {
  margin-top: 50ox;
}

.login-signup {
  font-size: 15px;
  padding-top: 20px;
}

.review-box {
  width: 100%;
}

.book-review {
  padding: 50px;
}

.review-title {
  text-align: center;
}

.review-url {
  width: 100%;
}

.index-header {
  background-color: #c0c0c0;
}

.index-title {
  text-align: center;
}

.user-name {
  float: right;
}

.move-profile {
  float: right;
  font-size: large;
  margin-right: 10px;
}

.logout-btn {
  float: right;
  font-size: large;
  margin-right: 10px;
}

/* .card-box {
  display: flex;
  justify-content: center;
} */

.index-card {
  width: 80%;
  height: auto;
  margin: 5px;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-box {
  height: 250px;
  width: 300px;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 2px #000000;
}

.profile-section {
  text-align: center;
}

.profile-btn-section {
  margin-top: 30px;
}

.profile-btn {
  width: 200px;
}

.new {
  display: flex;
  justify-content: center;
}

.new-box {
  height: auto;
  width: 300px;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 2px #000000;
}

.new-section {
  text-align: center;
}

.index-body {
  padding-bottom: 80px;
}

.new-title {
  margin: 5px;
}

.new-url {
  margin: 5px;
}

.new-detail {
  margin: 5px;
}

.new-review {
  margin: 5px;
}

.new-btn-section {
  margin-top: 5px;
}

.new-btn {
  width: 200px;
}

.edit {
  display: flex;
  justify-content: center;
}

.edit-box {
  height: auto;
  width: 300px;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 2px #000000;
}

.edit-section {
  text-align: center;
}

.edit-title {
  margin: 5px;
}

.edit-url {
  margin: 5px;
}

.edit-detail {
  margin: 5px;
}

.edit-review {
  margin: 5px;
}

.edit-btn-section {
  margin-top: 5px;
}

.edit-btn {
  width: 200px;
}

.detail-card-box {
  display: flex;
  justify-content: center;
}

.detail-card {
  width: 500px;
  height: auto;
}

.detail-edit-btn {
  float: right;
}

.delete-btn {
  float: right;
}
